<#assign base=request.contextPath />
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>写邮件   表单</title>
<base href="${base}/">
<!--适应移动端-->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- 删除苹果默认的工具栏和菜单栏 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="full-screen" content="yes"/>
<meta name="x5-fullscreen" content="true"/>
<!-- 设置苹果工具栏颜色 -->
<meta name="format-detection" content="telphone=no, email=no"/>
<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="landscape">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="landscape">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<link href="resources/front/css/reset.css" rel="stylesheet" type="text/css">
<link href="resources/front/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="resources/front/layui/css/layui.css" rel="stylesheet" type="text/css">
<link href="resources/front/css/dui.css" rel="stylesheet" type="text/css">
<script src="resources/front/js/jquery.min.js" ></script>
<script src="resources/front/layui/layui.js" ></script>
<style>
.layui-form-select .layui-input{display:none;}
.layui-form-select .layui-edge{display:none;}
#newselect{display:blcok;}
.layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select{display:block;}
.layui-form-danger+.layui-form-select .layui-input, .layui-form-danger:focus{border:none;!important}
</style>
</head>
<body class="dui-page-body ggzs-enabled">
<div class="page-body">
    <form class="form-horizontal layui-form" id="msgFrom" onsubmit="return false" method="post">
		<input type="hidden" name="receids" value="1"><!-- 主键id为1 主账号 -->
		<input type="hidden" name="msgStatus" value="0"><!-- 0未读邮件 1已读邮件 -->
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">标题</span>
            <input placeholder="请输入邮件标题" name="msgSubject" lay-verify="required" type="text" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">收件人</span>
            <input type="text" readonly="" value="管理员" lay-verify="required" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">邮件类型</span>
            <select class="friend-new-line friend-new-line-input" name="msgType" type="text" style="display:blcok;">
            	<option value="0">注册问题</option>
            	<option value="1">安全问题</option>
            	<option value="2">账号问题</option>
            	<option value="3">交易问题</option>
            	<option value="4">其他问题</option>
            </select>
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">发送内容</span>
            <textarea class="friend-new-line friend-new-line-input" lay-verify="required" style="width: 60%;height: 4.5rem;overflow:auto;" name="msgContent"></textarea>
        </div>
        <div class="m-top12 text-c" style="margin-top: 2.5rem!important;">
            <a href="javascript:" class="btn btn-green text-auto xiugai2-go" lay-submit lay-filter="formDemo" id="submit">发送邮件</a>
        </div>
    </form>
</div>
<script src="resources/front/js/layuiformvalid.js" charset="utf-8"></script>
<script src="resources/front/js/pass_aes.js" charset="utf-8"></script> 
<script src="resources/front/js/page.js"  charset="utf-8"></script> 
<script src="resources/front/js/main.js" charset="utf-8"></script>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form()
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  //监听提交
 form.on('submit(formDemo)', function(data){
	 var param = $("#msgFrom").serialize();
	 console.dir(param);
	 //ajax异步提交
	 $.ajax({
		 type:"POST",
		 url:"front/message/addEmail",
		 data:param,
		 dataType:"JSON",
		 success:function(data){
			 if(data==0){
				successMsg("邮件发送失败",function(){
			 }); 
			 }else{
				 successMsg("邮件发送成功",function(){
					 var index = parent.layer.getFrameIndex(window.name);
				     parent.layer.close(index); //关闭所有的弹窗
				 }); 
			 }
		 }
	 })
  });
});
</script>
</body>
</html>