<#assign base=request.contextPath />
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>未激活会员  表单</title>
<base href="${base}/">
<!--适应移动端-->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- 删除苹果默认的工具栏和菜单栏 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="full-screen" content="yes"/>
<meta name="x5-fullscreen" content="true"/>
<!-- 设置苹果工具栏颜色 -->
<meta name="format-detection" content="telphone=no, email=no"/>
<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="landscape">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="landscape">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<link href="resources/front/css/reset.css" rel="stylesheet" type="text/css">
<link href="resources/front/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="resources/front/layui/css/layui.css" rel="stylesheet" type="text/css">
<link href="resources/front/css/dui.css" rel="stylesheet" type="text/css">
<script src="resources/front/js/jquery.min.js" ></script>
<script src="resources/front/layui/layui.js" ></script>
<script type="text/javascript" src="resources/front/js/layuiformvalid.js"></script>
<style>
.layui-form-select .layui-input{display:none;}
.layui-form-select .layui-edge{display:none;}
#newselect{display:blcok;}
.layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select{display:block;}
.layui-form-danger+.layui-form-select .layui-input, .layui-form-danger:focus{border:none;!important}
</style>
</head>
<body class="dui-page-body ggzs-enabled">
<div class="page-body">
    <form class="form-horizontal layui-form" id="FormId" onsubmit="return false" method="post">
    	<input type="hidden" value="${id}" name="id">
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">消耗激活积分</span>
            <input name="jhIntegral" value="${(jhIntegral)!'9999999'}" readonly="" lay-verify="required" type="text" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">交易密码</span>
            <input type="text"  onfocus="this.type='password'" name="tradePwd" id="tradePwd" lay-verify="required|pass" class="friend-new-line friend-new-line-input">
        </div>
        <div class="m-top12 text-c" style="margin-top: 2.5rem!important;">
            <a href="javascript:" class="btn btn-green text-auto xiugai2-go" lay-submit lay-filter="formDemo" id="submit">激活</a>
        </div>
    </form>
</div>
<script src="resources/front/js/layuiformvalid.js" charset="utf-8"></script>
<script src="resources/front/js/pass_aes.js" charset="utf-8"></script> 
<script src="resources/front/js/page.js"  charset="utf-8"></script> 
<script src="resources/front/js/main.js" charset="utf-8"></script>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form()
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  //监听提交
 form.on('submit(formDemo)', function(data){
	 var lock = true;//锁住表单
	 if(!lock){//判断该锁是否打开，如果是关闭的，则直接返回
		 return false;
	 }
	 lock = false;//进来后，立马把锁锁住
	 var index = layer.load(1, {
	     shade: [0.1,'#fff'] //0.1透明度的白色背景
	   });
	 //按钮效果切换  不可点击状态
	 $("#submit").removeClass("btn btn-green text-auto");
	 $("#submit").addClass("btn btn-gray text-auto");
	 
		 var param = $("#FormId").serialize();
		 console.dir(param);
		 //ajax异步提交
		$.ajax({
			 type:"POST",
			 url:"front/member/jhMember",
			 data:param,
			 dataType:"JSON",
			 success:function(data){
				 console.dir(data);
				 //返回类型 无论如何都会获取到值的
				 var result_type = data.attributes.result_type;
				 if(result_type==-1){
					 successMsg("交易密码错误",function(){
						 lock = true;// 打开锁
					 	 layer.close(index);
					 	 //按钮效果切换  可以点击
						 $("#submit").removeClass("btn btn-gray text-auto");
						 $("#submit").addClass("btn btn-green text-auto");
						 $("#tradePwd").val("");
					 });
				 }else if(result_type==-2){
					 successMsg("您的激活积分不足,请进行充值",function(){
						 var index = parent.layer.getFrameIndex(window.name);
					     parent.layer.close(index); //关闭所有的弹窗
					 });
				 }else if(result_type==1){
					 successMsg("激活成功",function(){
						//互转成功后 立即对主页相关币种进行重新赋值  保证不刷新主页就可以看到最新的数据
					     var currencyInfo = data.attributes.currencyInfo;//币种类型
					     parent.parent.$("#activPenn").text(currencyInfo.activPenn);
						 //xxxxxxxxx
						 var index = parent.layer.getFrameIndex(window.name);
					     parent.layer.close(index); //关闭当前弹窗
					 });
				 }
			 }
		 })
  });
});
</script>
</body>
</html>