<#assign base=request.contextPath />
<!DOCTYPE html>
<html ng-app="app" class="no-js">
	<head>
		<base href="${base}/">
		<meta charset="utf-8">
		<meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>网站后台管理系统</title> 
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	
		<link rel="stylesheet" href="resources/admin/css/global.css" media="all">
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="resources/admin/css/table.css" />
		<link rel="stylesheet" type="text/css" href="resources/admin/css/zc.css" />	
	    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script type="text/javascript" src="resources/admin/plugins/angular/angular.min.js"></script>
	    <script type="text/javascript" src="resources/admin/plugins/angular-route/angular-route.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <link href="resources/admin/plugins/select2/select2.css" rel="stylesheet" />
		<link href="resources/admin/plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	    <script type="text/javascript" src="resources/admin/plugins/select2/select2.js"></script>
	    <script type="text/javascript" src="resources/admin/plugins/layer-v1.9.0/layer/layer.js"></script>
	    <script type="text/javascript" src="resources/admin/plugins/pager/bootstrap-paginator.min.js"></script>
	    
	    
	    <script>
			var app = angular.module('app', ['ngRoute']);
		</script>
		
		<style type="text/css">
			.error_tip{
			    font-size: 13px;
			    color: red;
			    line-height: 33px;
			    position: absolute;
			    left: 0px;
			}
			.ok_tip{
			    font-size: 13px;
			    color: green;
			    line-height: 33px;
			    position: absolute;
			    left: 0px;
			}
		</style>
	</head>
	<body class="hold-transition skin-green-light sidebar-mini  wysihtml5-supported" ng-controller="testController"  style="overflow-x:hidden;">
		<input type="hidden" value="${base}/" id="contexpath">
		<div class="wrapper">
			<!-- 主体内容部分 -->
			<div class="content-wrapper">  
				  <section class="content"> 
					<div class="row">
						<div class="col-md-12">
							<div id="query" class="box box-info box">
								<div>
									<!--搜索栏-->
									<div  class="box-header with-border">
										<!--增删改-->  
										<div class="col-md-12 col-xs-12 col-sm-12" style="margin: 12px 0;"> 
											<div style="float:left;padding-left:5px" class="input-group-sm">
												<select style="padding: 0px;width:150px" select2 style="padding: 0px" ng-model="jhState" name="data2" placeholder="激活状态" required>
													<option  value="0">未激活</option>
													<option  value="1">激活</option>
												</select>
											</div>&nbsp;&nbsp;
											<div style="float:left;padding-left:5px" class="input-group-sm">
												<select style="padding: 0px;width:150px" select2 style="padding: 0px" ng-model="djState" name="data2" placeholder="冻结状态" required>
													<option  value="0">冻结</option>
													<option  value="1">未冻结</option>
												</select>
											</div>&nbsp;&nbsp;
											<div style="float:left;padding-left:5px" class="input-group-sm">
												<input type="text" class="form-control" style="width:150px"  ng-model="memNum" placeholder="会员编号" >
											</div>&nbsp;&nbsp;
											<div style="float:left;padding-left:5px" class="input-group-sm">
												<input type="text" class="form-control" style="width:150px"  ng-model="tjrMemNum" placeholder="推荐人编号" >
											</div>
											<a class="btn btn-sm btn-info" href="javascript:;" target='_self' ng-click="queryall(1)" role="button"><i class="fa fa-search"></i>&nbsp;查询</a> 
										    <!-- <a class="btn btn-sm btn-info" href="javascript:;" target='_self' ng-click="del()" role="button"><i class="fa fa-times"></i>&nbsp;删除</a> 
											<a class="btn btn-sm btn-info" href="javascript:;" target='_self' ng-click="add()" role="button"><i class="fa fa-plus-circle"></i>&nbsp;新增</a> 
											<a class="btn btn-sm btn-info" href="javascript:;" target='_self' ng-click="update()" role="button"><i class="fa fa-cogs"></i>&nbsp;修改</a>  -->
										</div>   
									</div>

									<!--显示数据栏-->
									<div>
										<div class="box-body">
											<div>
												<table  class="table table-bordered table-striped table-hover "  style="text-align: center;">
													<thead>
														<tr class="my_th">
															<th style="width: 80px;">
																<label for="chkAll">全选:</label>
																<span>
																	<input id="chkAll" type="checkbox" ng-model="chkall" ng-click="chkAll(chkall)" />
																</span>
															</th> 
															<th>序号</th>
															<th>会员编号</th>
													        <th>激活状态</th>
													        <th>管家等级</th>
													        <th>真实姓名</th>
													        <th>电话号码</th>
													        <th>推荐人编号</th>
													        <th>注册时间</th>
													        <th>激活时间</th>
													        <th>冻结状态</th>
													        <!-- <th>角色类型</th>
													        <th>微信号</th>
													        <th>支付宝账号</th>
													        <th>支付宝昵称</th>
													        <th>登录密码</th>
													        <th>交易密码</th>
													        <th>银行卡账号</th>
													        <th>银行卡类型</th>
													        <th>开户行地址</th>
													        <th>开户行名称</th> -->
													        <th>操作</th>
														</tr>
													</thead>
													<tbody id="content">
														<tr ng-repeat="row in rows">
															<td><input type="checkbox" ng-model="row.selected" /></td>
															<td>{{$index+1}}</td>
															<td>{{row.memNum}}</td>
															<td>{{row.jhState | jhFilter}}</td>  
															<td>{{row.gjLevel | gjLevelFilter}}</td>  
															<td>{{row.realName}}</td>  
															<td>{{row.teleNum}}</td>  
															<td>{{row.tjrNum}}</td>  
															<td>{{row.registTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>  
															<td>{{row.jhTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>  
															<td>{{row.djState | djFilter}}</td>  
															<!-- <td>{{row.roleState | roleStateFilter}}</td>  
															<td>{{row.weichat}}</td>  
															<td>{{row.alipay}}</td>  
															<td>{{row.alipayName}}</td>  
															<td>{{row.loginPwd}}</td>  
															<td>{{row.tradePwd}}</td>  
															<td>{{row.bankNum}}</td>  
															<td>{{row.bankType | bankTypeFilter}}</td>  
															<td>{{row.khhAddress}}</td>  
															<td>{{row.khhkName}}</td> -->
															<td>
																<a ng-click="update2(row.id)" href="javascript:;" >编辑</a>
																<a ng-if="row.jhState==1 && row.djState==1" ng-click="updateDj(row.id)" href="javascript:;" >冻结</a>
																<a ng-if="(row.jhState==1 && row.djState==0) || (row.jhState==1 && row.djState==null)" ng-click="updateJd(row.id)" href="javascript:;" >解冻</a>
																<a ng-if="row.jhState==null || row.jhState==0" ng-click="updateJhState(row.id,row.tjrNum)" href="javascript:;" >激活</a>
																<a ng-if="row.jhState!=1" ng-click="delOne(row.id)" href="javascript:;" >删除</a>
																<a ng-if="row.jhState==1" ng-click="login(row.memNum, row.loginPwd)" href="javascript:;" >登入</a>
															</td>
														</tr>
													</tbody>
												</table>
												<div class="text-right" >
													<pager page="page" records="records" onpagechanged="query"></pager>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<!-- “增加”、“修改” 共用模态框 -->
				<section>
					<div class="modal fade" id="adddialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" style="width:60%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">会员管理</h4>
								</div>
								<div class="modal-body">
							<form class="form-horizontal" name="myForm" ng-submit="save()">
								<div class="form-group" ng-if="addtype!=2">
									<label class="control-label col-md-3 text-right">会员编号</label> 
									<div class="col-md-7">
										 <input class="form-control" type="text" ng-model="formdata.memNum" />
									</div>
								</div>  
								<div class="form-group" ng-if="addtype==2">
									<label class="control-label col-md-3 text-right">会员编号</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" ng-model="formdata.memNum" readonly="readonly"/>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">密码</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="mima" ng-model="formdata.loginPwd" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.mima.$invalid">密码不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.mima.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">确认密码</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="mima2" ng-model="formdata.loginPwd2" equals="formdata.loginPwd" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="formdata.loginPwd!=formdata.loginPwd2">两次密码不一致</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="formdata.loginPwd==formdata.loginPwd2"></span>
									</div>
								</div> 
								<div class="form-group" style="display: none;">
									<label class="control-label col-md-3 text-right">激活状态</label>
									<div class="col-md-3">
										<select style="padding: 0px" select2 style="padding: 0px" ng-model="formdata.jhState" class="col-md-12 col-sm-12 col-xs-12"   name="data2" placeholder="请选择">
											<option  value="0">未激活</option>
											<option  value="1">激活</option>
										</select> 
									</div>
								</div> 
								<div class="form-group" style="display: none;">
									<label class="control-label col-md-3 text-right">管家等级</label>
									<div class="col-md-3">
										<select style="padding: 0px" select2 style="padding: 0px" ng-model="formdata.gjLevel" class="col-md-12 col-sm-12 col-xs-12"   name="data2" placeholder="请选择" >
											<option  value="0">普通管家</option>
											<option  value="1">超级管家</option>
										</select> 
									</div>
								</div> 
								<div class="form-group">
									<label class="control-label col-md-3 text-right">真实姓名</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="zsxm" ng-model="formdata.realName" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.zsxm.$invalid">真实姓名不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.zsxm.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">手机号码</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="sjhm" ng-pattern="spPhone" ng-model="formdata.teleNum" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.sjhm.$invalid">手机号码格式不正确</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.sjhm.$valid"></span>
									</div>
								</div>  
								<!-- <div class="form-group">
									<label class="control-label col-md-3 text-right">推荐人编号</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="tjrbh" ng-model="formdata.tjrNum" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.tjrbh.$invalid">推荐人编号不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.tjrbh.$valid"></span>
									</div>
								</div>  --> 
								<div class="form-group" style="display: none;">
									<label class="control-label col-md-3 text-right">冻结状态</label> 
									<div class="col-md-3">
										<select style="padding: 0px" select2 style="padding: 0px" ng-model="formdata.djState" class="col-md-12 col-sm-12 col-xs-12"   name="data2" placeholder="请选择" >
											<option  value="0">冻结</option>
											<option  value="1">解冻</option>
										</select> 
									</div>
								</div>  
								<div class="form-group" style="display: none;">
									<label class="control-label col-md-3 text-right">角色类型</label> 
									<div class="col-md-3">
										<select style="padding: 0px" select2 style="padding: 0px" ng-model="formdata.roleState" class="col-md-12 col-sm-12 col-xs-12"   name="data2" placeholder="请选择" >
											<option  value="0">普通会员</option>
											<option  value="1">超级管理员</option>
										</select> 
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">微信账号</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="wx" ng-model="formdata.weichat" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.wx.$invalid">微信账号不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.wx.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">支付宝账号</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="zfbzh" ng-model="formdata.alipay" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.zfbzh.$invalid">支付宝账号不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.zfbzh.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">支付宝昵称</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="zfbnc" ng-model="formdata.alipayName" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.zfbnc.$invalid">支付宝昵称不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.zfbnc.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">交易密码</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" name="jymm" ng-model="formdata.tradePwd" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.jymm.$invalid">交易密码不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.jymm.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">银行卡类型</label>
									<div class="col-md-4">
										<select style="padding: 0px" name="yhklx" select2 ng-model="formdata.bankType" class="col-md-12 col-sm-12 col-xs-12" placeholder="请选择" required>
									        <option value="0">中国工商银行</option>
							            	<option value="1">中国建设银行</option>
							            	<option value="2">中国银行</option>
							            	<option value="3">中国农业银行</option>
							            	<option value="4">交通银行</option>
										</select> 
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.yhklx.$invalid">银行卡类型不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.yhklx.$valid"></span>
									</div>
								</div> 
								<div class="form-group">
									<label class="control-label col-md-3 text-right">银行卡号</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" ng-model="formdata.bankNum" name="yhkh" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.yhkh.$invalid">银行卡号不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.yhkh.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">开户行户名</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" ng-model="formdata.khhkName" name="khhmc" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.khhmc.$invalid">开户行名称不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.khhmc.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">开户行账户</label> 
									<div class="col-md-6">
										 <input class="form-control" type="text" ng-model="formdata.khhAddress" name="khhdz" required/>
									</div>
									<div class="col-md-3">
										<span class="error_tip" ng-show="myForm.khhdz.$invalid">开户行地址不能为空</span>
										<span class="glyphicon glyphicon-ok ok_tip" ng-show="myForm.khhdz.$valid"></span>
									</div>
								</div>  
								<div class="form-group">
									<label class="control-label col-md-3 text-right">收款二维码</label>
									<div class="col-md-3">
										<img src="resources/admin/images/uploadBtn.png" id="uploadimg2"><br><br>
										<p><img id="img1" class="img-thumbnail" src="{{formdata.payPic}}" /></p>
										<input type="file" name="file" id="file1" style="display: none" onchange="ajaxFileUpload()"/>
										<input type="hidden" id="payPic" name="payPic"/>
									</div>
								</div>
								<!-- <div style="width:300px; height:300px; border:1px solid;">
									<p><input type="file" id="file1" name="file" /></p>
								    <input type="button" id="upbtn" value="上传" />
								    <p><img id="img1" alt="上传成功啦，你妈个B啦" src="" /></p>
								</div> -->
								
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">
										关闭
									</button>
									<button type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary">
										保存
									</button>
								</div>
							</form>
								</div>
							</div>
						</div>
					</div>
				</section> 
				
				<!-- "需求栏里如果有供应商"模态框 -->
				<!-- "供应商详情"模态框 -->
				<!-- "审核"模态框 -->
			</div>
		</div> 
		<script type="text/javascript" src="resources/admin/plugins/angular/http.js"></script>
		<script type="text/javascript" src="resources/admin/plugins/select2/mys2/select2.js"></script>
		<script type="text/javascript" src="resources/admin/plugins/pager/pager.js"></script>
		<script type="text/javascript" src="resources/admin/plugins/fileupload/ajaxfileupload.js"></script>
		<script type="text/javascript" src="resources/admin/angularjs/memberList.js"></script>
		<script type="text/javascript">
			$(function () {
	            $("#uploadimg2").click(function () {
	            	$('#file1').click();
	            })
	        })
	        function ajaxFileUpload() {
	            $.ajaxFileUpload
	            (
	                {
	                    url: 'upload.html', //用于文件上传的服务器端请求地址
	                    secureuri: false, //是否需要安全协议，一般设置为false
	                    fileElementId: 'file1', //文件上传域的ID
	                    dataType: 'TEXT', //返回值类型 一般设置为json
	                    success: function (data, status)  //服务器成功响应处理函数
	                    {
	                    	console.dir(data);
	                        $("#img1").attr("src", data);
	                        $("#payPic").val(data);
	                        if (typeof (data.error) != 'undefined') {
	                            if (data.error != '') {
	                                alert(data.error);
	                            } else {
	                                alert(data.msg);
	                            }
	                        }
	                    },
	                    error: function (data, status, e)//服务器响应失败处理函数
	                    {
	                        alert(e);
	                    }
	                }
	            )
	            return false;
	        }
		</script>
	</body>
</html>
