<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shengchuang.dao.BackupDao"> 
     
    <select id="findFB" resultType="com.shengchuang.entity.MysqlBackupEntity" parameterType="map">
		SELECT * from t_db_backup WHERE 1=1  
		order by date desc limit ${start},${limit} 
	</select>  
     
    <select id="findAllCount" resultType="int">
		SELECT count(*) from t_db_backup 
	</select>  
	
    <delete id="delete">
        delete from t_db_backup where id=#{id}
    </delete> 
    
    <insert id="add">
    	INSERT INTO `t_db_backup` (`name`, `message`, `date`, `location`) 
    	VALUES (#{name}, #{message}, #{date}, #{location})
    </insert>
	<select id="findBackupById" parameterType="Integer" resultType="com.shengchuang.entity.MysqlBackupEntity">
		SELECT * from t_db_backup WHERE 1=1 AND id=#{id}
	</select>
</mapper>