<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shengchuang.dao.EmailDao">  
     
    <select id="findCommon" resultType="java.util.HashMap" parameterType="java.util.Map">
		SELECT * from t_emsg WHERE 1=1  
		<if test="msgStatus!='' and msgStatus!=null "> and msgStatus=#{msgStatus} </if>
		<if test="curId!='' and curId!=null "> and sendid=#{curId} </if>
		order by id desc limit ${start},${limit} 
	</select>  
     
    <select id="findCommon3" resultType="java.util.HashMap" parameterType="java.util.Map">
		SELECT * from t_emsg WHERE 1=1  
		<if test="msgStatus!='' and msgStatus!=null "> and msgStatus=#{msgStatus} </if>
		<if test="curId!='' and curId!=null "> and sendid!=#{curId} </if>
		order by id desc limit ${start},${limit} 
	</select>  
     
    <select id="findAllEmailEntity" resultType="com.shengchuang.entity.EmailMsgEntity">
		SELECT * from t_emsg order by id desc
	</select>  
     
    <select id="findCommonEntity" resultType="com.shengchuang.entity.EmailMsgEntity" parameterType="java.util.Map">
		SELECT * from t_emsg WHERE 1=1  
		<if test="msgStatus!='' and msgStatus!=null "> and msgStatus=#{msgStatus} </if>
		order by id desc limit ${start},${limit} 
	</select>  
     
    <select id="findCommonById" resultType="java.util.HashMap" parameterType="int">
		SELECT * from t_emsg WHERE id = #{id} 
	</select>  
     
    <select id="findOutMailsById" resultType="com.shengchuang.entity.EmailMsgEntity" parameterType="int">
		SELECT * from t_emsg WHERE sendid = #{curId} order by id desc
	</select>  
     
    <select id="findEmailMsgEntityById" resultType="com.shengchuang.entity.EmailMsgEntity" parameterType="int">
		SELECT * from t_emsg WHERE id = #{id} 
	</select>  
     
    <insert id="addCommon" > 
        INSERT INTO `t_emsg` (
        	`msgSubject`, `msgContent`, `sendid`, `receids`, `sendTime`, `msgStatus`, `memNum`, `msgType`
        ) 
        VALUES ( 
        	#{msgSubject},#{msgContent},#{sendid},#{receids},#{sendTime},#{msgStatus}, #{memNum}, #{msgType}
        );
    </insert> 
    
    <delete id="deleteCommon">
        delete from t_emsg where id=#{id}
    </delete>  
     
    <update id="updateCommon">
        UPDATE `t_emsg` 
		<set>
			<if test="msgSubject != null">`msgSubject`= #{msgSubject},</if>
			<if test="msgContent != null">`msgContent`= #{msgContent},</if>
			<if test="sendid != null">`sendid`= #{sendid},</if>
			<if test="receids != null">`receids`= #{receids},</if>
			<if test="sendTime != null">`sendTime`= #{sendTime},</if>
			<if test="msgStatus != null">`msgStatus`= #{msgStatus},</if>
			<if test="memNum != null">`memNum`= #{memNum}</if>
	    </set>
		WHERE `id`=#{id};
    </update>
    
    <select id="findAll" resultType="com.shengchuang.entity.MemberEntity">
		SELECT memNum from t_member 
	</select>  
	
    <select id="findCommonCount" resultType="Integer" parameterType="java.util.Map"> 
         select count(1) from t_emsg where 1=1 
         <if test="msgStatus!='' and msgStatus!=null"> and msgStatus=#{msgStatus} </if> 
    </select>
	
    <select id="findOutMailCount" resultType="Integer" parameterType="java.util.Map"> 
         select count(1) from t_emsg where 1=1 
         <if test="curId!='' and curId!=null"> and sendid=#{curId} </if> 
         <if test="msgStatus!='' and msgStatus!=null"> and msgStatus=#{msgStatus} </if> 
    </select>
	
    <select id="findInMailCount" resultType="Integer" parameterType="java.util.Map" > 
         select count(1) from t_emsg where 1=1 
         <if test="curId!='' and curId!=null"> and sendid=#{curId} </if> 
         <if test="msgStatus!='' and msgStatus!=null"> and msgStatus=#{msgStatus} </if> 
    </select>
    
</mapper>