<#assign base=request.contextPath />
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>我要充值   表单  可以充值 种子积分 激活积分</title>
<base href="${base}/">
<!--适应移动端-->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- 删除苹果默认的工具栏和菜单栏 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="full-screen" content="yes"/>
<meta name="x5-fullscreen" content="true"/>
<!-- 设置苹果工具栏颜色 -->
<meta name="format-detection" content="telphone=no, email=no"/>
<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="landscape">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="landscape">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<link href="resources/front/css/reset.css" rel="stylesheet" type="text/css">
<link href="resources/front/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="resources/front/layui/css/layui.css" rel="stylesheet" type="text/css">
<link href="resources/front/css/dui.css" rel="stylesheet" type="text/css">
<script src="resources/front/js/jquery.min.js" ></script>
<script src="resources/front/layui/layui.js" ></script>
<script type="text/javascript" src="resources/front/js/layuiformvalid.js"></script>
<style>
.layui-form-select .layui-input{display:none;}
.layui-form-select .layui-edge{display:none;}
#newselect{display:blcok;}
.layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select{display:block;}
.layui-form-danger+.layui-form-select .layui-input, .layui-form-danger:focus{border:none;!important}
</style>
<style type="text/css">
/* 收款方收款信息 样式 */
.smallTitle{
	background-image: url("resources/front/images/SmallTitle_bg.png");
	background-repeat: no-repeat;
	background-size:100% 40px;
	margin-top: 3%;
	margin-bottom:1%;
	text-align: center;
	color: #3a230a;
	font-size: 1.2rem;
	height: 40px;
	line-height: 40px;
}
.weichatImg{
	width: 150px;
	height: 150px;
}
</style>
</head>
<body class="dui-page-body ggzs-enabled">
<div class="page-body">
    <form class="form-horizontal layui-form" id="FormId" onsubmit="return false">
         <input type="hidden" value="1" name="optType"><!--来源类型1 我要充值  -->
         <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">充值类型：</span>
            <select name="czqxType" class="friend-new-line friend-new-line-input">
            	<option value="6">激活积分</option>
            	<option value="5">种子积分</option>
            </select>
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">支付方式：</span>
            <select name="czqxWay" class="friend-new-line friend-new-line-input">
            	<option value="0">线下打款</option>
            </select>
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">充值数量：</span>
            <input name="czqxSalar" lay-verify="required|number" type="number" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
			<span class="friend-new-line friend-new-line-label">交易密码：</span>
			<input name="tradePwd" id="tradePwd" lay-verify="required|pass" type="text" onfocus="this.type='password'" class="friend-new-line friend-new-line-input">
		</div> 
		<div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">充值备注：</span>
            <textarea name="czqxMark" lay-verify="required" class="friend-new-line friend-new-line-input" style="width: 60%;height: 2.5rem;"></textarea>
        </div>
        <div class="m-top12 text-c">
            <a href="javascript:" class="btn btn-green text-auto" lay-submit lay-filter="formDemo" id="submit">确定</a>
        </div>
        <div class="smallTitle">收款方收款信息</div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">微信账号：</span>
            <input type="text" value="${(hostMemMap.weichat)!'暂无'}" disabled="disabled" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">支付宝账号：</span>
            <input type="text" value="${(hostMemMap.alipay)!'暂无'}" disabled="disabled" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">支付宝姓名：</span>
            <input type="text" value="${(hostMemMap.alipayName)!'暂无'}" disabled="disabled" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">开户银行姓名：</span>
            <input type="text" value="${(hostMemMap.khhkName)!'暂无'}" disabled="disabled" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">开户银行类型：</span>
            <input type="text" value=" <#if hostMemMap.bankType==0>中国工商银行
            							<#elseif hostMemMap.bankType==1>中国建设银行
            							<#elseif hostMemMap.bankType==2>中国银行
            							<#elseif hostMemMap.bankType==3>中国农业银行
            							<#elseif hostMemMap.bankType==4>交通银行
            							</#if> " disabled="disabled" class="friend-new-line friend-new-line-input">
        </div>
         <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">开户银行账号：</span>
            <input type="text" value="${(hostMemMap.bankNum)!'暂无'}" disabled="disabled" class="friend-new-line friend-new-line-input">
        </div>
         <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">开户银行地址：</span>
            <input type="text" value="${(hostMemMap.khhAddress)!'暂无'}" disabled="disabled" class="friend-new-line friend-new-line-input">
        </div>
         <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">微信收款码：</span>
            <img alt="" src="${hostMemMap.payPic}" class="weichatImg">
        </div>
    </form>
</div>
<script src="resources/front/js/pass_aes.js" charset="utf-8"></script> 
<script src="resources/front/js/page.js"  charset="utf-8"></script> 
<script src="resources/front/js/main.js" charset="utf-8"></script>
<script type="text/javascript">
layui.use(['form', 'layedit', 'laydate'], function(){
	  var form = layui.form()
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,laydate = layui.laydate;
	  //监听提交
	 form.on('submit(formDemo)', function(data){
			 var lock = true;//锁住表单
			 if(!lock){//判断该锁是否打开，如果是关闭的，则直接返回
				 return false;
			 }
			 lock = false;//进来后，立马把锁锁住
			 var index = layer.load(1, {
			     shade: [0.1,'#fff'] //0.1透明度的白色背景
			   });
			 //按钮效果切换  不可点击状态
			 $("#submit").removeClass("btn btn-green text-auto");
			 $("#submit").addClass("btn btn-gray text-auto");
			 var param = $("#FormId").serialize();
			 //ajax异步提交
			 $.ajax({
				 type:"POST",
				 url:"front/czqx/addCZOrQX",
				 data:param,
				 dataType:"JSON",
				 success:function(data){
					 console.dir(data);
					//返回类型 无论如何都会获取到值的
					 var result_type = data.attributes.result_type;
					 if(result_type==1){
						 successMsg("充值成功,等待审核中",function(){
							 var index = parent.layer.getFrameIndex(window.name);
						     parent.layer.close(index); //关闭当前弹窗
						 });
					 }else if(result_type==-4){
						 successMsg("服务异常,请联系管理员",function(){
							 var index = parent.layer.getFrameIndex(window.name);
						     parent.layer.close(index); //关闭当前弹窗
						 });
					 }else if(result_type==-1){
						 successMsg("交易密码有误",function(){
							 $("#tradePwd").val("");
							 lock = true;// 打开锁
						 	 layer.close(index);
						 	 //按钮效果切换  可以点击
							 $("#submit").removeClass("btn btn-gray text-auto");
							 $("#submit").addClass("btn btn-green text-auto");
						 });
					 }
				 }
			 });
	  });
});
</script>
</body>
</html>