<#assign base=request.contextPath />
<!DOCTYPE html>
<html ng-app="app" class="no-js">
	<head>
		<base href="${base}/">
		<meta charset="utf-8">
		<meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>网站后台管理系统</title> 
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	
		<link rel="stylesheet" href="resources/admin/css/global.css" media="all">
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="resources/admin/css/table.css" />
		<link rel="stylesheet" type="text/css" href="resources/admin/css/zc.css" />	
	    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script type="text/javascript" src="resources/admin/plugins/angular/angular.min.js"></script>
	    <script type="text/javascript" src="resources/admin/plugins/angular-route/angular-route.min.js"></script>
	    
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    
	    <link href="resources/admin/plugins/select2/select2.css" rel="stylesheet" />
		<link href="resources/admin/plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	    <script type="text/javascript" src="resources/admin/plugins/select2/select2.js"></script>
	    <script type="text/javascript" src="resources/admin/plugins/layer-v1.9.0/layer/layer.js"></script>
	    <script type="text/javascript" src="resources/admin/plugins/pager/bootstrap-paginator.min.js"></script>
	    
	    <!-- zTree 控件 -->
	    <link href="https://cdn.bootcss.com/zTree.v3/3.5.28/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet">
	    <script src="https://cdn.bootcss.com/zTree.v3/3.5.28/js/jquery.ztree.core.js"></script>
	    <script src="https://cdn.bootcss.com/zTree.v3/3.5.28/js/jquery.ztree.excheck.min.js"></script>
	    
	    <script>
			var app = angular.module('app', ['ngRoute']);
		</script>
		<style type="text/css">
			.green{color: green;}
		</style>
	</head>
	<body class="hold-transition skin-green-light sidebar-mini  wysihtml5-supported" ng-controller="testController" style="overflow-x:hidden;">
		<div class="wrapper">
			<!-- 主体内容部分 -->
			<div class="content-wrapper">  
				  <section class="content"> 
					<div class="row">
						<div class="col-md-12">
							<div id="query" class="box box-info box">
								<div>
									<!--搜索栏-->
									<div  class="box-header with-border">
										<!--增删改-->  
										<div class="col-md-12 col-xs-12 col-sm-12" style="margin: 12px 0;"> 
											<div style="float:left;padding-left:5px" class="input-group-sm">
												<select style="padding: 0px;width:150px" select2 style="padding: 0px" ng-model="jhState" name="data2" placeholder="激活状态" required>
													<option  value="0">未激活</option>
													<option  value="1">激活</option>
												</select>
											</div>&nbsp;&nbsp;
											<div style="float:left;padding-left:5px" class="input-group-sm">
												<select style="padding: 0px;width:150px" select2 style="padding: 0px" ng-model="djState" name="data2" placeholder="冻结状态" required>
													<option  value="0">冻结</option>
													<option  value="1">解冻</option>
												</select>
											</div>&nbsp;&nbsp;
											<div style="float:left;padding-left:5px" class="input-group-sm">
												<input type="text" class="form-control" style="width:150px"  ng-model="memNum" placeholder="会员编号" >
											</div>
											<a class="btn btn-sm btn-info" href="javascript:;" target='_self' ng-click="query(1)" role="button"><i class="fa fa-search"></i>&nbsp;查询</a> 
										    <!-- <a class="btn btn-sm btn-info" href="javascript:;" target='_self' ng-click="del()" role="button"><i class="fa fa-times"></i>&nbsp;删除</a> 
											<a class="btn btn-sm btn-info" href="javascript:;" target='_self' ng-click="add()" role="button"><i class="fa fa-plus-circle"></i>&nbsp;新增</a> 
											<a class="btn btn-sm btn-info" href="javascript:;" target='_self' ng-click="update()" role="button"><i class="fa fa-cogs"></i>&nbsp;修改</a>  -->
										</div>    
									</div>

									<!--显示数据栏-->
									<div>
										<div class="box-body">
											<div>
												<table  class="table table-bordered table-striped table-hover "  style="text-align: center;">
													<thead>
														<tr class="my_th">
															<th style="width: 80px;">
																<label for="chkAll">全选:</label>
																<span>
																	<input id="chkAll" type="checkbox" ng-model="chkall" ng-click="chkAll(chkall)" />
																</span>
															</th> 
															<th>会员编号</th>
													        <th>真实姓名</th>
													        <th>电话号码</th>
													        <th>激活状态</th>
													        <th>激活时间</th>
													        <th>冻结状态</th>
													        <!-- <th>冻结状态</th>
													        <th>管家等级</th>
													        <th>推荐人编号</th>
													        <th>注册时间</th>
													        <th>角色类型</th>
													        <th>微信号</th>
													        <th>支付宝账号</th>
													        <th>支付宝昵称</th>
													        <th>登录密码</th>
													        <th>交易密码</th>
													        <th>银行卡账号</th>
													        <th>银行卡类型</th>
													        <th>开户行地址</th>
													        <th>开户行名称</th> -->
													        <th>操作</th>
														</tr>
													</thead>
													<tbody id="content">
														<tr ng-repeat="row in rows">
															<td><input type="checkbox" ng-model="row.selected" /></td>
															<td>{{row.memNum}}</td>
															<td>{{row.realName}}</td>  
															<td>{{row.teleNum}}</td>  
															<td>{{row.jhState | jhFilter}}</td>  
															<td>{{row.jhTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>  
															<td>{{row.djState | djFilter}}</td> 
															<!-- <td>{{row.djState | djFilter}}</td>  
															<td>{{row.gjLevel | gjLevelFilter}}</td>  
															<td>{{row.tjrNum}}</td>  
															<td>{{row.registTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>  
															<td>{{row.roleState | roleStateFilter}}</td>  
															<td>{{row.weichat}}</td>  
															<td>{{row.alipay}}</td>  
															<td>{{row.alipayName}}</td>  
															<td>{{row.loginPwd}}</td>  
															<td>{{row.tradePwd}}</td>  
															<td>{{row.bankNum}}</td>  
															<td>{{row.bankType | bankTypeFilter}}</td>  
															<td>{{row.khhAddress}}</td>  
															<td>{{row.khhkName}}</td> -->
															<td>
																<a ng-if="row.jhState==1 || row.jhState==0" ng-click="update2(row.id)" href="javascript:;" >编辑</a>
																<a ng-if="row.jhState==1" ng-click="shouquan(row.id)" href="javascript:;" >授权</a>
																<a ng-if="row.jhState==1 && row.djState==1" ng-click="updateDj(row.id)" href="javascript:;" >冻结</a>
																<a ng-if="(row.jhState==1 && row.djState==0) || (row.jhState==1 && row.djState==null)" ng-click="updateJd(row.id)" href="javascript:;" >解冻</a>
																<!-- <a ng-if="row.jhState==null || row.jhState==0" ng-click="updateJhState(row.id)" href="javascript:;" >激活</a> -->
																<!-- <a ng-click="delOne(row.id)" href="javascript:;" >删除</a> -->
															</td>
														</tr>
													</tbody>
												</table>
												<div class="text-right" >
													<pager page="page" records="records" onpagechanged="query"></pager>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<!-- “增加”、“修改” 共用模态框 -->
				<section>
					<div class="modal fade" id="adddialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" style="width:60%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">会员管理</h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal" ng-submit="save()" name="myForm" novalidate>
										<div class="form-group" ng-if="addtype!=2">
											<label class="control-label col-md-2 text-right">会员编号</label> 
											<div class="col-md-6">
												 <input class="form-control" type="text" ng-model="formdata.memNum" />
											</div>
											<div class="col-md-4">
											
											</div>
										</div>  
										<div class="form-group" ng-if="addtype==2">
											<label class="control-label col-md-2 text-right">会员编号</label> 
											<div class="col-md-6">
												 <input class="form-control" type="text" ng-model="formdata.memNum" readonly="readonly"/>
											</div>
											<div class="col-md-4">
											
											</div>
										</div>  
										<!-- <div class="form-group">
											<label class="control-label col-md-3 text-right">密码</label> 
											<div class="col-md-7">
												 <input class="form-control" type="text" ng-model="formdata.loginPwd" ng-minlength="6" ng-maxlength="20"/>
											</div>
										</div>   -->
										<div class="form-group">
										    <label class="control-label col-md-2 text-right">登录密码(后台)</label>
										    <div class="col-md-6">
										      <input class="form-control" ng-model="formdata.adloginPwd" name="mima"  type="text" ng-required="true" ng-pattern="spPwd">
										    </div>
										    <div class="col-md-4">
											    <span ng-show="myForm.mima.$invalid && myForm.mima.$touched">
							                          <span class="check_wrong" ng-show="myForm.mima.$error.required">密码为必填项</span>
							                          <span class="check_wrong" ng-show="myForm.mima.$error.pattern">密码长度在6~12个字符</span>
												 </span>
										    </div>
										</div>
										<!-- <div class="form-group">
											<label class="control-label col-md-2 text-right">确认密码</label> 
											<div class="col-md-6">
												 <input class="form-control" type="text" name="mima2" ng-model="formdata.adloginPwd2" equals="formdata.adloginPwd" ng-required="true"/>
											</div>
											<div class="col-md-4">
											      <span ng-show="myForm.mima2.$invalid && myForm.mima2.$touched">
							                          <span class="check_wrong" ng-show="myForm.mima2.$error.required">密码为必填项</span>
							                          <span class="check_wrong" ng-show="myForm.mima2.$error.minlength">密码长度不小于6</span>
							                          <span class="check_wrong" ng-show="myForm.mima2.$error.maxlength">密码长度不超过20</span>
							                          <span class="check_wrong" ng-show="myForm.mima2.$error.maxlength">密码长度不超过20</span>
												  </span>
											  	  <span class="check_wrong" ng-show="formdata.adloginPwd2 != formdata.adloginPwd">两次密码不一致</span>
											</div>
										</div>  -->
										<div class="form-group">
											<label class="control-label col-md-2 text-right">真实姓名</label> 
											<div class="col-md-6">
												 <input class="form-control" type="text" name="realName" ng-model="formdata.realName" ng-required="true" ng-pattern="spChinese"/>
											</div>
											<div class="col-md-4">
											      <span ng-show="myForm.realName.$invalid && myForm.realName.$touched">
							                          <span class="check_wrong" ng-show="myForm.realName.$error.required">真实姓名不能为空</span>
							                          <span class="check_wrong" ng-show="myForm.realName.$error.pattern">真实姓名由中文汉字组成</span>
												  </span>
											</div>
										</div>  
										<div class="form-group">
											<label class="control-label col-md-2 text-right">手机号码</label> 
											<div class="col-md-6">
												 <input class="form-control" type="text" name="teleNum" ng-model="formdata.teleNum" ng-required="true" ng-pattern="spPhone"/>
											</div>
											<div class="col-md-4">
											      <span ng-show="myForm.teleNum.$invalid && myForm.teleNum.$touched">
							                          <span class="check_wrong" ng-show="myForm.teleNum.$error.required">手机号格式错误</span>
							                          <span class="check_wrong" ng-show="myForm.teleNum.$error.pattern">手机号格式错误</span>
												  </span>
											</div>
										</div>  
										
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">
												关闭
											</button>
											<button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">
												保存
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section> 
				<!-- 授权模态框  -->
				<section>
					<div class="modal fade" id="shouqdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
						
					</div><!--  modal end-->
				</section> 
				
				<!-- "需求栏里如果有供应商"模态框 -->
				<!-- "供应商详情"模态框 -->
				<!-- "审核"模态框 -->
			</div>
		</div> 
		<script type="text/javascript" src="resources/admin/plugins/angular/http.js"></script>
		<script type="text/javascript" src="resources/admin/plugins/select2/mys2/select2.js"></script>
		<script type="text/javascript" src="resources/admin/plugins/pager/pager.js"></script>
		<script type="text/javascript" src="resources/admin/angularjs/adminList.js"></script>
	</body>
</html>
