<#assign base=request.contextPath />
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>我要购买 表单</title>
<base href="${base}/">
<!--适应移动端-->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- 删除苹果默认的工具栏和菜单栏 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="full-screen" content="yes"/>
<meta name="x5-fullscreen" content="true"/>
<!-- 设置苹果工具栏颜色 -->
<meta name="format-detection" content="telphone=no, email=no"/>
<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="landscape">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="landscape">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<link href="resources/front/css/reset.css" rel="stylesheet" type="text/css">
<link href="resources/front/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="resources/front/layui/css/layui.css" rel="stylesheet" type="text/css">
<link href="resources/front/css/dui.css" rel="stylesheet" type="text/css">
<script src="resources/front/js/jquery.min.js" ></script>
<script src="resources/front/layui/layui.js" ></script>
</head>
<body class="dui-page-body ggzs-enabled">
<div class="page-body">
    <form class="form-horizontal layui-form" id="FormId" onsubmit="return false" action="POST">
        <input type="hidden"  name="id" value="${(id)!'999999'}">
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">购买金额：</span>
            <input name="eporderSalar" id="eporderSalar" lay-verify="required|number"  type="number" class="friend-new-line friend-new-line-input">
        </div>
        <div class="friend-new-item">
            <span class="friend-new-line friend-new-line-label">交易密码：</span>
            <input name="tradePwd" id="tradePwd" lay-verify="required|pass" type="text" onfocus="this.type='password'" class="friend-new-line friend-new-line-input">
        </div>
        <div class="m-top12 text-c" style="margin-top: 2.5rem!important;">
            <a href="javascript:" class="btn btn-green text-auto" lay-submit lay-filter="formDemo" id="submit">确认</a>
        </div>
        <div class="m-top12 text-c">
        	<table class="dui-table">
        		<thead>
        				<td>币种</td>
        				<td>最低额度</td>
        				<td>最高额度</td>
        				<td>额度倍数</td>
        		</thead>
        		<tbody>
        			<tr>
        				<td>种子积分</td>
        				<td>${(epbuyTrades[0])!'999999'}</td>
        				<td>${(epbuyTrades[1])!'999999'}</td>
        				<td>${(epbuyTrades[2])!'999999'}</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
    </form>
</div>
<script src="resources/front/js/pass_aes.js" charset="utf-8"></script> 
<script src="resources/front/js/page.js"  charset="utf-8"></script> 
<script src="resources/front/js/main.js" charset="utf-8"></script>
<script type="text/javascript"> 
layui.use(['form', 'layedit', 'laydate'], function(){
	  var form = layui.form()
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,laydate = layui.laydate;
	  //监听提交
	 form.on('submit(formDemo)', function(data){
			 var lock = true;//锁住表单
			 if(!lock){//判断该锁是否打开，如果是关闭的，则直接返回
				 return false;
			 }
			 lock = false;//进来后，立马把锁锁住
			 var index = layer.load(1, {
			     shade: [0.1,'#fff'] //0.1透明度的白色背景
			   });
			 //按钮效果切换  不可点击状态
			 $("#submit").removeClass("btn btn-green text-auto");
			 $("#submit").addClass("btn btn-gray text-auto");
		 	 var param = $("#FormId").serialize();
			 //ajax异步提交
			 $.ajax({
				 type:"POST",
				 url:"front/ep/addEpOrder",
				 data:param,
				 dataType:"JSON",
				 success:function(data){				
					 if(data==1){
						 successMsg("购买成功,等待确认中",function(){
							 var index = parent.layer.getFrameIndex(window.name);
						     parent.layer.close(index); //关闭所有的弹窗
						 });
					 }else if(data==0){
						 successMsg("服务异常,请联系管理员",function(){
							 var index = parent.layer.getFrameIndex(window.name);
						     parent.layer.close(index); //关闭所有的弹窗
						 });
					 }else if(data==-1){
						 successMsg("交易密码有误",function(){
							 $("#tradePwd").val("");
							 lock = true;// 打开锁
						 	 layer.close(index);
						 	 //按钮效果切换  可以点击
							 $("#submit").removeClass("btn btn-gray text-auto");
							 $("#submit").addClass("btn btn-green text-auto");
						 });
					 }else if(data==-2){
						 successMsg("购买数量超出了售卖数量",function(){
							 $("#eporderSalar").val("");
							 lock = true;// 打开锁
						 	 layer.close(index);
						 	 //按钮效果切换  可以点击
							 $("#submit").removeClass("btn btn-gray text-auto");
							 $("#submit").addClass("btn btn-green text-auto");
						 });
					 }else if(data==-3){
						 successMsg("不得低于最低额度",function(){
							 $("#eporderSalar").val("");
							 lock = true;// 打开锁
						 	 layer.close(index);
						 	 //按钮效果切换  可以点击
							 $("#submit").removeClass("btn btn-gray text-auto");
							 $("#submit").addClass("btn btn-green text-auto");
						 });
					 }else if(data==-4){
						 successMsg("不得高于最高额度",function(){
							 $("#eporderSalar").val("");
							 lock = true;// 打开锁
						 	 layer.close(index);
						 	 //按钮效果切换  可以点击
							 $("#submit").removeClass("btn btn-gray text-auto");
							 $("#submit").addClass("btn btn-green text-auto");
						 });
					 }else if(data==-5){
						 successMsg("不满足额度倍数",function(){
							 $("#eporderSalar").val("");
							 lock = true;// 打开锁
						 	 layer.close(index);
						 	 //按钮效果切换  可以点击
							 $("#submit").removeClass("btn btn-gray text-auto");
							 $("#submit").addClass("btn btn-green text-auto");
						 });
					 }else if(data==-6){
						 successMsg("当前存在未完成的购买订单,请完成交易后购买",function(){
							 var index = parent.layer.getFrameIndex(window.name);
						     parent.layer.close(index); //关闭所有的弹窗
						 });
					 }
				 }
			 }); 
	  });
});
</script>
</body>
</html>